header{
    margin: 0;
    top: 0;
    left: 0;
    height: 9vh;
    background-color: #000;
}

header div{
    width: 95%;
    left: 0;
    padding: 2vh;
}
#linkbar{
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    top: 0;

    left: 0;
}
#logo{
    width: 4vw;
    height: 9vh;
    top: 0;
    position: absolute;

}

#logoa {
    text-decoration: none;
    text-align: end;
    width: 0;
    
    display: block;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #000;
}
#banner {
    padding: 15vh;
    padding-top: 10vh;
    text-align: center;
    color: #fff;
    font-size: 2.5vw;
    background-image: url('img/banner.png');
}

#banner h1{
    font-family: 'Playfair Display', serif;
}

#linkbar li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8vw;
    transition: 0.5s;
}
#b-linkbar{
    list-style: none;
    text-align: center;    
    padding: 0;
    margin: 0;
}
#b-linkbar li a{
    border-radius: 20px;
    background-color: #361888;
    text-decoration: none;
    display: inline-block;
    width: 20vw;
    align-content: center;
    height: 10vh;
    color: #fff;
    position: relative;
    font-size: 1.8vw;
    transition: .5s;
}
#b-linkbar li a:hover{
    background-color: #1061bd;
}

#b-linkbar li {
    display: inline-block;
    padding-left: 2vw;
}
#linkbar li{
    display: inline-block;
    padding-left: 2.5%;
}